@import url('https://fonts.googleapis.com/css2?family=Caesar+Dressing&family=Space+Grotesk:wght@300..700&display=swap');

.Nav-Container{
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2em;
    border-bottom: 3px solid #000000;
}


.Section-Container{
    display: flex;
    position: relative;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 3px solid #000000;
    min-width: 65%;
    max-height: 5em;
    background-color: white;
    -webkit-box-shadow: var(--BoxShadow) var(--BoxShadowColor);
    -moz-box-shadow: var(--BoxShadow) var(--BoxShadowColor);
    box-shadow: var(--BoxShadow) var(--BoxShadowColor);
}

/* this is the section of the 4 boxes in the corners*/
/*  the Top */

:root{
    --BoxShadowColor: rgb(79 79 79 / 75%);
    --BoxShadow: 5px 5px 0 1px;
    --BoxShadowSizeTopRight: 4px 6px 0px 1px;
    --BoxShadowSizeBottomRight: 4px 6px 0px 1px;
    --BoxShadowSizeBottomLeft: 6px 7px 0px 0px;
}


.Section-Container::before,
.Section-Container::after{
  content: "";
  position: absolute;
  width:14px;
  height:14px;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
}

/* top-right corner */

.Section-Container::before{
  top: -10px;
  right: -14px;
  -webkit-box-shadow: var(--BoxShadowSizeTopRight) var(--BoxShadowColor);
    -moz-box-shadow: var(--BoxShadowSizeTopRight) var(--BoxShadowColor);
    box-shadow: var(--BoxShadowSizeTopRight) var(--BoxShadowColor);
}

/* bottom-right corner  */

.Section-Container::after {
  top: 60px;
  right: -14px;
  -webkit-box-shadow: var(--BoxShadowSizeBottomRight) var(--BoxShadowColor);
  -moz-box-shadow: var(--BoxShadowSizeBottomRight) var(--BoxShadowColor);
  box-shadow: var(--BoxShadowSizeBottomRight) var(--BoxShadowColor);
}

/* the bottom */

.name-Section::before,
.name-Section::after{
  content: "";
  position: absolute;
  width:14px;
  height:14px;
  background-color: white;
  border: 3px solid rgb(0, 0, 0);
}

/* top-left corner */

.name-Section::after{
  top: 60px;
  left: -14px;
  -webkit-box-shadow: var(--BoxShadowSizeBottomLeft) var(--BoxShadowColor);
    -moz-box-shadow: var(--BoxShadowSizeBottomLeft) var(--BoxShadowColor);
    box-shadow: var(--BoxShadowSizeBottomLeft) var(--BoxShadowColor);
}

/* bottom-left corner */

.name-Section::before {
  top: -10px;
  left: -14px;
}


/* finish */


.Section-Container > div{
    position: relative;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
}

.Section-Container > div > h1{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 1em;
}

.clicks-Sections{
    width: 55%;
}

.clicks-Sections > h1{
    font-family: "Space Grotesk", sans-serif;
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 1.5rem;
    border-left: 3px solid black;
    width: 100%;
    cursor: pointer;
}


.clicks-Sections > h1:last-child{
    border-right: none;
}

h1{
    font-size: 24px;
    font-weight: 700;
    height: inherit;
    margin: 0;
    padding: 0;
}

/* hello Coder */

.name-Section{
    padding-top: 0.7em;
}


.container {
    width: 307px;
    height: 50px;
  }
  
  .content {
    display: block;
    position: sticky;
    overflow: hidden;
    font-size: 2rem;
    line-height: 40px;
    color: #ecf0f1;
  }
  
  .content__container {
    font-weight: 600;
    overflow: hidden;
    height: 40px;
    padding: 0 1rem;
  }
  

  
  .content__container__text {
    display: inline;
    float: left;
    margin: 0;
    font-weight: 500;
  }
  
  .content__container__list {
    margin-top: 0;
    padding-left: 90px;
    text-align: left;
    list-style: none;
    -webkit-animation-name: change;
    -webkit-animation-duration: 10s;
    -webkit-animation-iteration-count: infinite;
    animation-name: change;
    animation-duration: 10s;
    animation-iteration-count: infinite;
  }
  
  .content__container__list__item {
    line-height: 40px;
    margin: 0;
    font-weight: 500;
    width: 4em;
  }
  
  @keyframes opacity {
    0%, 100% {
      opacity: 0;
    }
  
    50% {
      opacity: 1;
    }
  }
  
  @keyframes change {
    0%, 12.66%, 100% {
      transform: translate3d(0, 0, 0);
    }
  
    16.66%, 29.32% {
      transform: translate3d(0, -25%, 0);
    }
  
    33.32%, 45.98% {
      transform: translate3d(0, -50%, 0);
    }
  
    49.98%, 62.64% {
      transform: translate3d(0, -75%, 0);
    }
  
    66.64%, 79.3% {
      transform: translate3d(0, -50%, 0);
    }
  
    83.3%, 95.96% {
      transform: translate3d(0, -25%, 0);
    }
  }


.clicks-Sections > h1:nth-child(2){
    text-decoration: solid;
    text-decoration-color: #FFDC58;
    text-decoration-thickness: 10px;
}


/* Hamburger dropdown */

/* Dropdown.css */
.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-toggle {
  border: none;
}

.dropdown-menu {
  display: block;
  position: absolute;
  background-color: white;
  box-shadow: var(--BoxShadow) var(--BoxShadowColor);
  padding: 12px 0;
  margin: 0;
  list-style: none;
  width: 7rem;
  z-index: 1;
  top: 4rem;
  right: 1%;
}

.dropdown-menu li {
  padding: 8px 16px;
}

.dropdown-menu li a {
  text-decoration: none;
  color: black;
  display: block;
}

.dropdown-menu li:hover {
  background-color: #f1f1f1;
}


@media (max-width: 1316px) {
  .Section-Container{
    min-width: 75%;
  }
}

@media (max-width: 1150px) {
  .Section-Container{
    min-width: 85%;
  }
}
@media (max-width: 1022px){
  .Section-Container{
    min-width: 100%;
  }
}

@media (max-width: 730px) {
  .Section-Container{
    min-width: 90%;
  }
}

@media (max-width: 392px) {
  .content{
    font-size: 1.7rem;
  }
  .content__container__list{
    padding-left: 70px;
  }
}