
.Project_container{
    padding: 2em;
    margin-bottom: 3em;
    text-align: center;
    h1{
        font-size: 6vw;
        font-weight: 500;
    }

    .project-cards{
        padding: 2% 10%;
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-template-rows: repeat(2, 1fr);
        gap: 10%;
    }
}


@media (max-width:800px){

    .Project_container .project-cards{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    .Project_container .project-cards > a{
        padding-top: 2em;
    }

}

@media (max-width:430px){
    .Project_container h1{
        font-size: 8vw;
        font-weight: 500;
    }
}