.skills-Contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 5em;
    height: 8em;
    background-color: black;

    span{
        font-size: 4vw;
        color: #fff;
        font-weight: 500;
        cursor: default;
    }
}

@media (max-width: 950px) {
    .skills-Contianer{
        height: 7em;
    }
}


@media (max-width: 800px) {
    .skills-Contianer{
        height: 5em;
    }
}

@media (max-width: 540px) {
    .skills-Contianer{
        height: 4em;
    }
}

@media (max-width: 400px) {
    .skills-Contianer{
        margin-top: 3em;
        height: 3em;
    }
}

