.skills-Contianer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    margin-top: 10em;
    height: 8em;
    background-color: black;

    span{
        font-size: 45px;
        color: #fff;
        font-weight: 500;
        cursor: default;
    }
}

